<nav class="main-nav">

  <div class="wrapper">

    <a class="logo" href="http://seattletimes.com">
      <img src="assets/seattletimes.svg">
    </a>

    <div class="link-block">
      <a href="#signal">Signal</a>
      <a href="#email">Encrypted email</a>
      <a href="#mail">Mail</a>
   </div>

    <!-- <a class="share top" aria-label="Share"></a> -->
    <div class="menu">
      <div class="activate"><i class="material-icons">menu</i></div>
        <ul class="dropdown">
          <li><a href="#signal">Signal</a></li>
          <li><a href="#email">Encrypted Email</a></li>
          <li><a href="#mail">Mail</a></li>
        </ul>
    </div>

  </div>

</nav>